.dress-code__map {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.dress-code__color {
    width: 70px;
    height: 70px;
    border-radius: 20px;
    box-shadow: 0 0 1px 1px rgb(34 60 80 / 20%) inset;
}
