@font-face {
    font-family: Sofia;
    font-weight: 250;
    font-style: normal;
    src: url("~/assets/fonts/Sofia/SofiaSansCondensed-Thin.ttf") format("truetype");
}

@font-face {
    font-family: Sofia;
    font-weight: 250;
    font-style: italic;
    src: url("~/assets/fonts/Sofia/SofiaSansCondensed-ThinItalic.ttf") format("truetype");
}

@font-face {
    font-family: Sofia;
    font-weight: 300;
    font-style: italic;
    src: url("~/assets/fonts/Sofia/SofiaSansCondensed-LightItalic.ttf") format("truetype");
}

@font-face {
    font-family: Sofia;
    font-weight: 400;
    font-style: italic;
    src: url("~/assets/fonts/Sofia/SofiaSansCondensed-Italic.ttf") format("truetype");
}

@font-face {
    font-family: Lastochka;
    font-weight: 400;
    font-style: normal;
    src: url("~/assets/fonts/Lastochka/Lastochka.ttf") format("truetype");
}

@font-face {
    font-family: Aukim;
    font-weight: 400;
    font-style: normal;
    src: url("~/assets/fonts/Aukim/AukimLight.otf") format("opentype");
}
