.main-block__content {
    @include media-breakpoint-up(lg) {
        grid-template-columns: 30% 70%;
    }
    display: grid;

    gap: 40px;
    align-items: center;
}

.two {
    height: fit-content;
}

.one {
    height: 500px;

    img {
        position: relative;
        height: 100%;
        margin: 0 auto;
        object-fit: contain;
        border-radius: 20px;
    }
}

.two__guest-name {
    font-family: Lastochka, sans-serif;
    font-size: 60px;
    line-height: 72px;
}

.two__content {
    position: relative;

    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;

    color: var(--brown);
}
