.greeting {
    @include media-breakpoint-down(sm) {
        font-size: 84px;
        line-height: 105px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 60px;
        line-height: 80px;
    }

    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 0 10px;

    font-family: Lastochka, sans-serif;
    font-size: 100px;
    line-height: 120px;
}

.greeting__date {
    @include media-breakpoint-down(sm) {
        font-size: 50px;
    }

    @include media-breakpoint-down(xs) {
        font-size: 36px;
    }

    display: flex;
    gap: 20px;
    align-items: center;

    font-family: Aukim, sans-serif;
    font-size: 60px;
}

.greeting__separator {
    @include media-breakpoint-down(sm) {
        margin: 0 10px;
    }

    width: 6px;
    height: 6px;
    margin: 0 20px;

    background-color: var(--brown);
    border-radius: 50%;
}

.greeting__img {
    height: 400px;
}

.greeting__arrow {
    position: fixed;
    bottom: 60px;
    left: 50%;
}
