.section {
    margin-bottom: 92px;
}

.section__title {
    position: relative;
    font-family: Lastochka, sans-serif;
    font-size: 60px;
    line-height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin-bottom: 20px;
}

.section__main {
    @include media-breakpoint-down(sm) {
        flex-direction: column;
    }
}
