.layout-background {
    position: fixed;
    z-index: -1;
    inset: 0;
    //width: 100vw;
    //height: 100vh;

    opacity: 0.5;
    background-image: url("/background.jpeg");
    background-position: center;
    background-size: cover;
}
